.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-left: auto;
    order: 3;
}
.filters button:hover {
    opacity: 90%;
}
.locations {
    padding-left: 30px;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    order: 1;
}
.filters .amenities {
    height: 100%;
    width: 25%;
    order: 2;
}
.filters h3 {
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 0px;
}
.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 0px;
}
.popover {
    display: none;
    list-style: none;
    background-color: #FAFAFA;
    width: 95%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 0;
    margin-right: -10px;
}
.locations:hover .popover {
    display: block;
}
.locations .popover {
    margin-top: 1.3rem;
    margin-left: -30px;
}
.popover ul {
    list-style: none;
}
.popover h2 {
    font-size: 16px;
}
.popover li {
    padding: 0.1rem;
}
.amenities:hover .popover {
    display: block;
}
.amenities .popover {
    margin-top: 1.3rem;
}